<!DOCTYPE html>
<html>

<head>

    <title>Professional Passport Photo Generator</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

    <h1>Passport Photo Generator</h1>

    <form action="/upload"
          method="POST"
          enctype="multipart/form-data">

        <input type="file"
               name="photo"
               required>

        <br><br>

        <select name="copies">

            <option value="4">
                4 Passport Photos
            </option>

            <option value="6">
                6 Passport Photos
            </option>

            <option value="8">
                8 Passport Photos
            </option>

        </select>

        <br><br>

        <select name="bg_color">

            <option value="blue">
                Blue Background
            </option>

            <option value="white">
                White Background
            </option>

            <option value="red">
                Red Background
            </option>

        </select>

        <br><br>

        <button type="submit">
            Generate Passport Sheet
        </button>

    </form>

</div>

</body>
</html>